data/churn_data.csv
data/Customer_Segmentation_using_RFM.csv
data/Customer_Segmentation_using_RFM.xlsx
data/'ProductData -masked.csv'
data/RFM_matrix.csv
data/RFM_segmentation.csv
data/RFM_segmentation.xlsx
data/'TransactionData - masked.csv'
